<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/semantic.min.css" />
    <link rel="stylesheet" href="~/sweetalert2.min.css" />

    <style>
      body {
        padding-top: 50px;
      }

      header.ui.container {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      div.ui.raised.text.container.segment {
        margin-top: 10px;
        margin-bottom: 60px;
      }

      .ui.form {
        padding-bottom: 30px;
      }
    </style>
  </head>
  <body>
    <header class="ui fluid container fixed inverted menu">
      <div class="ui container">
        <a href="/" class="header item" title="Home">RicardoGaefke - WebJobs</a>
        <a href="/Home/How" class="item" title="How it works">How it works</a>
      </div>
    </header>

    <div class="ui raised text container segment">
      @RenderBody()
    </div>

    <footer class="ui fluid container bottom fixed inverted one item menu">
      <div class="ui container">
        <a href="https://github.com/RicardoGaefke/ricardogaefke-webjobs" class="item" title="ricardogaefke.com" target="_blank">
          &copy; 2020 - Ricardo Gaefke
        </a>
      </div>
    </footer>
    <script src="~/jquery.min.js" asp-append-version="true"></script>
    <script src="~/semantic.min.js" asp-append-version="true"></script>
    <script src="~/index.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
  </body>
</html>
